
<div>
<style type="text/css">
  <!--
  #socialbtn li { display:inline; }
  #g-plusone{ width:65px !important; }
  -->
</style>
<ul id="socialbtn">

<!--
<li><div class="g-plusone" id="g-plusone" data-size="medium" data-href="{{ BASE_PATH }}{{ post.url }}"></div>
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script></li>
-->

<li><div class="fb-like" data-href="{{ site.production_url }}{{ page.url }}" data-send="false" data-layout="button_count" data-width="20" data-show-faces="false"></div></li>

<li><a href="http://b.hatena.ne.jp/entry/{{ site.production_url }}{{ page.url }}" class="hatena-bookmark-button" data-hatena-bookmark-title="3ign0n.bitbucket.org" data-hatena-bookmark-layout="standard" title="このエントリーをはてなブックマークに追加"><img src="http://b.st-hatena.com/images/entry-button/button-only.gif" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script></li>

<li><a href="https://twitter.com/share" class="twitter-share-button" data-via="3ign0n">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
</script></li>

</ul>
</div>
